<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="no.sport1.rfid-cordova-plugin"
    version="0.2.11">
    <name>Rfid-cordova-plugin</name>
    <description>RFID Android plugin for Cordova.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,rfid</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/rfid-cordova-plugin.js" name="rfid-cordova-plugin">
        <clobbers target="rfid-cordova-plugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="rfid-cordova-plugin" >
                <param name="android-package" value="rfid-cordova-plugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/rfid-cordova-plugin.java" target-dir="src/" />
    </platform>
</plugin>
